.panel,
.panel-heading {
    -ms-border-radius: 0;
    border-radius: 0;
}

.panel-body {
    padding: 0;
    /*border: 0px;*/
}

.panel {
    margin-bottom: 0;
}

.panel-day {
    border: none;
    border-bottom: 1px solid #EAEAEA;
}

.weekdays {
    background-color: #F8F8F8;
}

.day-number {
    margin: 0;
    font-size: 20px;
    color: grey;
    border-right: 0;
}

.reservation-title-container {
    padding: 4px 0;
    /*trim long text*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    /*make things look beautiful*/
    background-color: #C1E9FE;
    border: 0px;
    border: 1px solid white;
}

.reservation-title {
    font-weight: bold;
}

.simple-border {
    border: 1px solid white;
}

#info-tab {
    padding: 0;
    margin: 0;
}

    /*
    some hacky rules to make things look okay
    in .container-fluid, although the design
    is a bit broken...
*/
#info-tab > .row:first-child {
    margin: 0;
}

#info-tab .col-md-28 {
    padding: 0;
}

#info-tab .panel-body .row {
    margin: 5px 0 0 5px;
}

#info-tab .col-md-7 {
    padding-right: 0;
}

#info-tab .alert-danger,
#info-tab .btn {
    margin: 10px;
}

nav {
    margin-bottom: 0;
}

.carousel-inner {
    width: 100%;
    max-height: 500px !important;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    -ms-background-position: center;
    background-position: center;
    -ms-background-size: cover;
    background-size: cover;
}

#home-nav {
    margin: 0;
}

#carouser-container {
    padding: 0;
}

#home-calendar {
    width: 75%;
}

#project-overview p {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
}

.green-ok {
    color: limegreen;
    margin-right: 15px;
}

#day-tab-title-container {
    /*dont ask where 7.4 comes from*/
    padding: 7.4px 15px;
}

#close-tab {
    text-decoration: none;
}

.bootstrap-datetimepicker-widget {
    font-size: 12px;
}

.day {
    font-size: 14px;
}

.custom-form {
    padding: 15px;
}

.custom-form .row {
    margin: 20px 0;
}

.custom-form textarea {
    resize: vertical;
}

#repetition-policy {
    cursor: pointer;
}

.day-container {
    padding: 0;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-horizontal .control-label {
    text-align: left;
}

#bg-color-grey {
    background-color: silver;
    padding: 50px;
    margin-top: 15px;
}

.content-boxes > span {
    float: left;
    color: #999;
    width: 50px;
    height: 50px;
    padding: 11px;
    font-size: 22px;
    background: #eee;
    line-height: 28px;
    text-align: center;
    margin-right: 15px;
    display: inline-block;
    border-radius: 33% !important;
}

.content-boxes > span:hover {
    border-radius: 33% !important;
    color: white;
    background-color: skyblue;
}

.content-boxes p {
    text-align: justify;
}

#title-container {
    padding-bottom: 25px;
}

#grey-container {
   padding-left: 0;
   padding-right: 0;
}

#trust-carl {
    font-size: 40px;
}

#bg-color-grey li {
    font-size: 18px;
    list-style-type: none;
    padding: 5px 0;
}

#bg-color-grey ul {
    padding: 0;
}

#bootstrap-select-container {
    margin: 15px auto;
}

.calendar-today {
    border-bottom: 5px solid black;
}

#about-img {
     border-radius: 25px;
}

#about-txt {
    margin-top: 50px;
}

.About-container {
    margin-top: 100px;
}