@using NbuReservationSystem.Web.App_GlobalResources.Account
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-md-28">
            <br/>
            <p>@AccountLabels.ForgottenPasswordMailSent</p>
        </div>
    </div>
</div>

