@using NbuReservationSystem.Web.App_GlobalResources.Labels
@model NbuReservationSystem.Web.Models.Responses.Halls.NewHallSuccess
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-28">
            <h2>@HallsLabels.HallAdded</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-28">
            <p class="alert alert-success" role="alert">
                @HallsLabels.HallAdded
                @if (Model.Added.HasValue)
                {
                    <hr />
                    @(string.Format(HallsLabels.ProcessedGoogleCalendarEvenets, Model.Added.Value, Model.Total))
                }
            </p>
        </div>
    </div>
</div>