@{
    ViewBag.Title = "Home Page";
}

@*TODO: this page also needs localization!*@

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @*TODO: download these images!*@
        <div class="item active">
            <img src="http://www.nbu.bg/files/za-nbu/slidove-purva/dsc-0056.png" alt="Chania">
        </div>

        <div class="item">
            <img src="http://www.nbu.bg/files/nbu-files/slidove-nbu/dsc-0032.png" alt="Chania">
        </div>

        <div class="item">
            <img src="http://www.nbu.bg/files/nbu-files/slidove-nbu/dsc-0044.png" alt="Chania">
        </div>

        <div class="item">
            <img src="http://www.nbu.bg/files/nbu-files/slidove-nbu/dsc-0038.png" alt="Chania">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-28">
            <div class="page-header text-center">
                <h1>Carl - Система за онлайн резервация на зали в НБУ</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="project-overview" class="col-md-16">
            <p><span class="glyphicon glyphicon-ok green-ok" aria-hidden="true"></span> <span>Резервиване на зала</span></p>
            <p><span class="glyphicon glyphicon-ok green-ok" aria-hidden="true"></span> <span>Е-майл известие</span></p>
            <p><span class="glyphicon glyphicon-ok green-ok" aria-hidden="true"></span> <span>Отказване на резервация</span></p>
            <p><span class="glyphicon glyphicon-ok green-ok" aria-hidden="true"></span> <span>Преглед на резервациите по ден</span></p>
            <p><span class="glyphicon glyphicon-ok green-ok" aria-hidden="true"></span> <span>Преглед на резервациите по седмица</span></p>
            <p><span class="glyphicon glyphicon-ok green-ok" aria-hidden="true"></span> <span>Преглед на резервациите по месец</span></p>
        </div>
        <div class="col-md-12 center-block"><img id="home-calendar" src="http://www.aokautereschool.net/Parentsandcarers/Calendar/files/stacks-image-085b3fa.png" alt="calendar" class="center-block" /></div>
    </div>
</div>
