@using NbuReservationSystem.Web.App_GlobalResources.Labels
@model IList<string>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>

<div id="reservations-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ReservationLabels.SelectHall</h4>
            </div>
            <div class="modal-body">
                <select class="selectpicker show-tick " id="halls-dropdown" name="HallName">
                    @foreach (var hall in Model)
                    {
                        <option>@hall</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button id="selected-hall-button" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#selected-hall-button').click(function() {
                var hall = $("#halls-dropdown option:selected").text();
                var urlTemplate =
                    "@Url.Action("ByHall", "Reservations", new { hallName = "__HALL__" }, Request.Url.Scheme)";
                var url = urlTemplate.replace("__HALL__", hall);
                window.location.href = url;
            });

            $('#reservations-modal').modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    </script>
}